.prefCard, .blacklistMethodCard, .profileCustomCard {
    margin: 10px;
    color: #FFFFFF; /* Updated to a brighter white for enhanced contrast */
    background-color: #191919; /* Base color remains the same */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Slightly deeper shadow for more depth */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 10px solid #2E2E2E; /* Adding a subtle border that matches the phenotype container */
    background: linear-gradient(to bottom, #191919, #141414); /* Subtle gradient from top to bottom */

}

.UserFilterBtn:hover, .blacklistMethodButton:hover {
    background-color: #ffe66b;
    color:#ffe66b;
}

.UserFilterBtn, .blacklistMethodButton {
    height: 35px; /* Explicit height accounting for padding */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #2E2E2E;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.9s;
}

.profileCustomCard button {
    height: 35px; /* Explicit height accounting for padding */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #2E2E2E;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.9s;

}

.profileCustomCard button:hover {
    background-color: #ffe66b;
    color:#ffe66b;
}

.activePreference {
    background-color: #ffe66b;
    color:#ffe66b;
}

.roundedColorInput {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;

    border: none; /* Removes any borders */
    cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
    background-color: transparent; /* Optional: Ensures no background style interferes */
}
