body {
    background-color: #191919;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

#mapContainer {
    display: flex;
    height: 100%;
    overflow-y: hidden;
    z-index: 1;
    overflow-x: visible;
}

#rasterMapPlaceholder {
    transition: padding-left 0.5s ease-in-out, transform 1.5s ease-in-out;
    position:absolute;
    width: 1000px;
    z-index: -11;
    height: 100vh;
    overflow: hidden;
}

#rasterMapPlaceholder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0,0,0,0.85) 100%);
    z-index: 3;
}

.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    z-index: 1;
}

.wave, .graywave, .twowave, 
.lockjaw1, .lockjaw2, .lockjaw3,
#wave1, #wave2, #wave3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 100%;
    transform: translateY(-1000px);
    z-index: 1;
    animation: waveAnimation linear infinite;
    will-change: transform;
}


#wave1 {
    animation-duration: 3s;
}

#wave2 {
    animation-duration: 7s;
}

#wave3 {
    z-index: 2;
    animation-duration: 5s;
}

.default-theme circle,
.default-theme path {
    fill: attr(data-default-color);
}

.alternate-theme circle {
    fill: attr(data-alternate-color);
}

.alternate-theme path {
    fill: attr(data-alternate-color);
}

main {
    width: 900px;
    display: flex;
}